@keyframes nav_animation{
    0%{
        transform:none;
    }
    50%{
        transform:translateY(5px);
    }
    100%{
        transform: none;
    }
}
@keyframes appear_animation{
    from{
        opacity: 0;
    }
    to{
        transform: none;
        opacity: 1;
    }
}
.nav{
    background-color: #f9f9fa;
    padding:20px 50px;
    border-top: 1px solid rgba(121,121,121,0.2);
    position:fixed;
    bottom:0;
    width:100%;
    box-sizing: border-box;
}
.nav__ul{
    display:flex;
    justify-content: space-between;
}
.nav__a{
    color:#2e363e;
    position:relative;
}
.nav__notification{
    position:absolute;
    left:18px;
    top:-15px;
    animation: nav_animation 2s ease-in-out infinite;
}
.nav__li{
    transform: translateY(20px);
    opacity: 0;
    animation:appear_animation 1s ease-in-out forwards;
}
.nav__li:nth-child(2){
    animation-delay: 0.2s;
}
.nav__li:nth-child(3){
    animation-delay: 0.4s;
}
.nav__li:last-child{
    animation-delay: 0.6s;
}
#friend-page .nav__li:nth-child(1){
    animation-delay: 1s;
}
#friend-page .nav__li:nth-child(2){
    animation-delay: 1.2s;
}
#friend-page .nav__li:nth-child(3){
    animation-delay: 1.4s;
}
#friend-page .nav__li:nth-child(4){
    animation-delay: 1.6s;
}