@keyframes nav_animation{
    0%{
        transform:none;
    }
    50%{
        transform:translateY(5px);
    }
    100%{
        transform: none;
    }
}
@keyframes appear_animation{
    from{
        opacity: 0;
    }
    to{
        transform: none;
        opacity: 1;
    }
}
.nav{
    background-color: #f9f9fa;
    padding:20px 50px;
    border-top: 1px solid rgba(121,121,121,0.2);
    position:fixed;
    border-radius: 25% 25% 0px 0px;
    background-image:url(https://us.123rf.com/450wm/roystudio/roystudio1209/roystudio120900012/15165615-%EC%84%AC%EC%84%B8%ED%95%9C-%EA%B2%A9%EC%9E%90-%EB%AC%B4%EB%8A%AC%EC%99%80-%EA%B2%80%EC%9D%80-%EB%B0%B0%EA%B2%BD-%ED%8C%A8%EB%B8%8C%EB%A6%AD-%EC%A7%88%EA%B0%90.jpg?ver=6);
    opacity: 0.8;
    bottom:0;
    width:100%;
    box-sizing: border-box;
}
.nav__ul{
    display:flex;
    justify-content: space-between;
}
.nav__a{
    color:rgba(255,255,255,0.6);
    position:relative;
}
.nav__notification{
    position:absolute;
    left:18px;
    top:-15px;
    animation: nav_animation 2s ease-in-out infinite;
}
.nav__li{
    transform: translateY(20px);
    opacity: 0;
    animation:appear_animation 1s ease-in-out forwards;
}
.nav__li:nth-child(2){
    animation-delay: 0.2s;
}
.nav__li:nth-child(3){
    animation-delay: 0.4s;
}
.nav__li:last-child{
    animation-delay: 0.6s;
}
#friend-page .nav__li:nth-child(1){
    animation-delay: 1s;
}
#friend-page .nav__li:nth-child(2){
    animation-delay: 1.2s;
}
#friend-page .nav__li:nth-child(3){
    animation-delay: 1.4s;
}
#friend-page .nav__li:nth-child(4){
    animation-delay: 1.6s;
}
.nav__ul .header__animation:hover{
    animation: header__icon_animation 1s ease-in-out infinite;
}