#no_mobile{
    position:absolute;
    z-index: 99;
    height:100vh;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top:0;
    background-image:url("http://m.uthpik.com/web/upload/NNEditor/20210429/EBA79DED959CEAB3A0EC9691EC9DB4_9.18_1.jpg");
    background-position: center center;
    background-size: 80%;
}
@media screen and (max-width:645px){
    #no_mobile{
        display:none;
    }
}
#no_mobile span{
    position:relative;
    right:200px;
    font-size:32px;
    font-weight: 600;
    margin-top:20px;
}