.screen-header2{
    padding: var(--horizontal-space);
    margin-bottom: 15px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.screen-header2__title{
    font-size:28px;
    font-weight: 600;
}
.screen-header2__column{
    width:33%;
}
.screen-header2__column:first-child{
    margin-right:auto;
}
.screen-header2__column:nth-child(2){
    text-align: center;
}
.screen-header2__column:last-child{
    margin-left:auto;
    display:flex;
    justify-content: flex-end;
}
.screen-header2__column span:last-child{
    margin-left:20px;
}
